@charset "UTF-8";
:root {
  --primary-text-color: #757575;
  --secondary-text-color: #FFFFFF;
  --title-text-color: #212121;
  --accent-text-color: #2196F3;
  --primary-background-color: #FFFFFF;
  --secondary-background-color: #F5F4FA;
  --footer-hero-background-color: #2F303A;
  --header-logo-text: #000000;
  --hero-button-background-color: #188CE8;
  --footer-address-text: rgba(255, 255, 255, 0.6);
  --primary-icon-color: #AFB1B8;
  --fon-color: rgba(47, 48, 58, 0.8);
  --bgc-hover-portfolio: rgba(33, 150, 243, 0.9);
  --primary-font: Roboto, sans-serif;
  --secondary-font: Raleway, sans-serif;
}

/* палитра 
#757575 основной цвет текста
#212121 вторичный цвет текста
#FFFFFF текст героя и при выделении и цвет фона
#2196F3 hover
rgba(255, 255, 255, 0.6) текст номера телефона и почты в футере
#2F303A фон героя и футера
#F5F4FA фон наша команда
 */
body {
  color: var(--primary-text-color);
  background-color: var(--primary-background-color);
  font-family: var(--primary-font);
  letter-spacing: 0.03em;
}

@media (min-width: 480px) {
  .section {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
@media (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.container {
  padding: 0 15px;
  margin: 0 auto;
  width: 100%;
}
@media (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

/* .container-hero{
    width: 1600px;
    margin-left: auto;
    margin-Right: auto;
} */
.section .text {
  color: var(--primary-text-color);
}

.section-title {
  color: var(--title-text-color);
  margin-top: 0;
}

.list {
  list-style: none;
  text-decoration: none;
  padding: 0;
  margin: 0;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.btn {
  color: var(--secondary-text-color);
  background-color: var(--accent-text-color);
  cursor: pointer;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: flex;
  align-items: center;
  letter-spacing: 0.06em;
  border-radius: 4px;
  padding: 10px 32px;
  display: inline-block;
  min-width: 200px;
  border: 1px solid transparent;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.btn:hover, .btn:focus {
  background-color: var(--hero-button-background-color);
}

.primary-button {
  color: var(--title-text-color);
  background-color: var(--secondary-background-color);
  cursor: pointer;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  padding: 6px 22px;
  border-radius: 4px;
  border-color: transparent;
  box-shadow: none;
  transition-property: color, background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.primary-button:hover, .primary-button:focus {
  color: var(--secondary-text-color);
  background-color: var(--accent-text-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.header {
  border-bottom: 1px solid #ECECEC;
}

.menu {
  display: flex;
  align-items: center;
}

.logo {
  color: var(--accent-text-color);
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

span.logo__black {
  color: var(--header-logo-text);
}

/* Site-nav*/
.top-nav {
  display: flex;
  align-items: center;
}

.nav {
  display: flex;
  align-items: center;
}

.nav-list {
  margin-left: 93px;
  display: flex;
}

.nav-list__link {
  color: var(--title-text-color);
  padding-top: 32px;
  padding-bottom: 32px;
  display: block;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-list__link:hover, .nav-list__link:focus {
  color: var(--accent-text-color);
}

.nav-list__link,
.nav-list2__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.nav-list__list-item + .nav-list__list-item {
  margin-left: 50px;
}

.nav-list__list-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-list2 {
  display: flex;
  margin-left: auto;
}

.nav-list2__list-item + .nav-list2__list-item {
  margin-left: 50px;
}

.nav-list2__list-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-list2__letter {
  display: inline-block;
  width: 16px;
  height: 12px;
  margin-right: 10px;
  fill: var(--primary-text-color);
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-list2__mobile {
  display: inline-block;
  width: 10px;
  height: 16px;
  margin-right: 10px;
  fill: var(--primary-text-color);
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-list2__link {
  color: var(--primary-text-color);
  display: flex;
  align-items: center;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.nav-list2__link:hover, .nav-list2__link:focus {
  color: var(--accent-text-color);
}
.nav-list2__link:hover .nav-list2__letter, .nav-list2__link:focus .nav-list2__letter {
  fill: var(--accent-text-color);
}
.nav-list2__link:hover .nav-list2__mobile, .nav-list2__link:focus .nav-list2__mobile {
  fill: var(--accent-text-color);
}

.nav-list__corrent {
  position: relative;
  color: var(--accent-text-color);
}
.nav-list__corrent::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  left: 0;
  bottom: 0;
  background-color: var(--accent-text-color);
}

.hero {
  background-color: var(--footer-hero-background-color);
  text-align: center;
  letter-spacing: 0.06em;
  padding-top: 200px;
  padding-bottom: 200px;
  height: 600px;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.hero__title {
  color: var(--secondary-text-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.06em;
  max-width: 696px;
  margin: 0 auto 30px;
}

@media (min-width: 768px) {
  .pic-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
}

.pic-list__checklist {
  flex-direction: column;
  display: flex;
}
@media (min-width: 480px) {
  .pic-list__checklist {
    margin-bottom: 30px;
  }
}
@media (min-width: 768px) {
  .pic-list__checklist {
    width: calc((100% - 30px) / 2);
    margin-bottom: 0;
  }
}
@media (min-width: 1200px) {
  .pic-list__checklist {
    width: calc((100% - 90px) / 4);
    margin-bottom: 0;
  }
}

.pic-list__link {
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--secondary-background-color);
  border-radius: 4px;
  margin-bottom: 30px;
}

.pic-list__items {
  font-size: 14px;
  line-height: 1.71;
  margin: 0;
}

.benefits__title {
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}
@media (max-width: 767px) {
  .benefits__title {
    text-align: center;
  }
}

@media (max-width: 1199px) {
  .we-doing {
    display: none;
  }
}

.we-doing .section-title {
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin-top: 0;
  margin-bottom: 50px;
}

.we-doing-items {
  display: flex;
}

.we-doing-checklist + .we-doing-checklist {
  margin-left: 30px;
}

.we-doing-checklist {
  position: relative;
}

.we-doing-title {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;
  margin: 0 0;
  padding-top: 27px;
  padding-bottom: 27px;
  font-style: normal;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--secondary-text-color);
  background-color: var(--fon-color);
}

.section-team {
  background-color: var(--secondary-background-color);
}

.section-team .section {
  padding-bottom: 0;
}

.section-team .section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 50px;
}
@media (max-width: 1199px) {
  .section-team .section-title {
    margin-bottom: 30px;
    font-size: 28px;
    line-height: 1.18;
  }
}

.section-team .items {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  margin-top: 0;
  margin-bottom: 16px;
}

@media (min-width: 768px) {
  .section-team-items {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
}

.team-social {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.team-social-checklist {
  display: flex;
  width: 44px;
  height: 44px;
  /* justify-content: center;
  align-items: center; */
}

.team-social-items {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  fill: var(--primary-icon-color);
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.team-social-items:hover .link-social, .team-social-items:focus {
  fill: var(--secondary-text-color);
}
.team-social-items:hover, .team-social-items:focus {
  background-color: var(--accent-text-color);
}

.team-social-items .link-social {
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/*section-peopl*/
.section-peopl {
  background-color: var(--primary-background-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  flex-direction: column;
  display: flex;
}
@media (min-width: 480px) {
  .section-peopl {
    margin-bottom: 30px;
  }
}
@media (min-width: 768px) {
  .section-peopl {
    width: calc((100% - 30px) / 2);
    margin-bottom: 0;
  }
}
@media (min-width: 1200px) {
  .section-peopl {
    width: calc((100% - 90px) / 4);
    margin-bottom: 0;
  }
}

.section-people-checklist {
  padding-top: 30px;
  padding-bottom: 30px;
}

.section-peopl .section-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  margin-bottom: 10px;
}

.section-clients .section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 50px;
}

.clients-item {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: center;
}

.clients-company {
  display: flex;
  flex-direction: column;
  display: flex;
  /* justify-content: center;
  align-items: center; */
}
@media (min-width: 480px) {
  .clients-company {
    width: calc((100% - 30px) / 2);
  }
}
@media (min-width: 768px) {
  .clients-company {
    width: calc((100% - 60px) / 3);
    margin-bottom: 0;
  }
}
@media (min-width: 1200px) {
  .clients-company {
    width: calc((100% - 150px) / 6);
    margin-bottom: 0;
  }
}

.clients-link {
  fill: var(--primary-icon-color);
  width: 100%;
  height: 92px;
  justify-content: center;
  align-items: center;
  display: flex;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.clients-link:hover .link-company {
  fill: var(--accent-text-color);
}
.clients-link:hover, .clients-link:focus {
  border: 1px solid #2196F3;
}

.clients-link .link-company {
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.section-works .section-title {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}

.section-works-checklist .text {
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.88;
  margin-top: 0;
  margin-bottom: 0;
}

.section-works .clients {
  padding: 20px 24px;
}

@media (min-width: 480px) {
  .section-works-item {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
  }
}

.section-works-button {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}
@media (min-width: 480px) {
  .section-works-button {
    margin-bottom: 40px;
  }
}
@media (min-width: 768px) {
  .section-works-button {
    margin-bottom: 30px;
    justify-content: center;
  }
}
@media (min-width: 1200px) {
  .section-works-button {
    margin-bottom: 50px;
    justify-content: center;
  }
}

@media (min-width: 768px) {
  .section-works-items {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
}

/* .section-works-item:hover
.section-works-item:focus{
box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
0px 1px 2px rgba(0, 0, 0, 0.08),
0px 2px 2px rgba(0, 0, 0, 0.12);
} */
.section-works-checklist {
  border: 1px solid #EEEEEE;
  position: relative;
  box-shadow: none;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  flex-direction: column;
  display: flex;
}
.section-works-checklist:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.section-works-checklist:hover .blue-text, .section-works-checklist:focus .blue-text {
  transform: translateY(0%);
  border: 1px solid #EEEEEE;
}
@media (min-width: 480px) {
  .section-works-checklist {
    margin-bottom: 30px;
  }
}
@media (min-width: 768px) {
  .section-works-checklist {
    width: calc((100% - 30px) / 2);
    margin-bottom: 0;
  }
}
@media (min-width: 1200px) {
  .section-works-checklist {
    width: calc((100% - 60px) / 3);
    margin-bottom: 0;
  }
}

.blue {
  position: relative;
  overflow: hidden;
}

.blue-text {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 63px 24px;
  transform: translateY(100%);
  transition-property: transform, border;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: var(--bgc-hover-portfolio);
  color: var(--secondary-text-color);
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
}

.footer {
  background-color: var(--footer-hero-background-color);
  color: var(--primary-background-color);
  padding-top: 60px;
  padding-bottom: 60px;
  padding-left: 76px;
  padding-right: 89px;
}

@media (min-width: 1200px) {
  .footer-div {
    display: flex;
  }
}

@media (min-width: 768px) {
  .footer-tablet {
    display: flex;
  }
}

span.logo-white {
  color: var(--primary-background-color);
}

.footer > .logo {
  margin-bottom: 20px;
}

.footer-map {
  color: var(--primary-background-color);
  font-size: 14px;
  line-height: 1.71;
  font-style: normal;
  margin-bottom: 9px;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-map:hover, .footer-map:focus {
  color: var(--accent-text-color);
}

@media (min-width: 480px) {
  .footer-left {
    text-align: center;
  }
}
@media (max-width: 767px) {
  .footer-left {
    margin-bottom: 60px;
  }
}
@media (min-width: 1200px) {
  .footer-left {
    display: inline-block;
    text-align: left;
    margin-bottom: 0px;
    margin-right: 70px;
  }
}

@media (min-width: 480px) {
  .social {
    text-align: center;
    display: block;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0 auto 60px;
    width: 206px;
  }
}
@media (min-width: 768px) {
  .social {
    margin: 5px 0 auto auto;
  }
}
@media (min-width: 1200px) {
  .social {
    padding-top: 12px;
    margin-right: 93px;
    justify-content: left;
  }
}

.footer-social-item {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.footer-social-checklist {
  width: 44px;
  height: 44px;
}

.footer-social-items {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.1);
  fill: var(--secondary-text-color);
  border-radius: 50%;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-social-items:hover, .footer-social-items:focus {
  background-color: var(--accent-text-color);
}

.social .title {
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.footer-link {
  color: var(--footer-address-text);
  font-size: 14px;
  line-height: 1.71;
  font-style: normal;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-link:hover, .footer-link:focus {
  color: var(--accent-text-color);
}

.footer-item:not(:last-child) {
  margin-bottom: 9px;
}

.footer-items {
  margin-top: 20px;
}

@media (min-width: 480px) {
  .subscribe {
    text-align: center;
  }
}
@media (min-width: 768px) {
  .subscribe {
    margin-top: 60px;
  }
}
@media (min-width: 1200px) {
  .subscribe {
    text-align: left;
    padding-top: 12px;
    margin-left: auto;
    margin: 0 auto;
  }
}

.subscribe-text {
  display: block;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.send-link {
  fill: var(--primary-background-color);
}

.send-wrap {
  text-align: center;
}
@media (min-width: 1200px) {
  .send-wrap {
    display: flex;
  }
}

.send-input {
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  color: var(--secondary-text-color);
  outline: none;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.send-input:focus, .send-input:hover {
  border-color: var(--accent-text-color);
}
.send-input::placeholder {
  font-family: var(--primary-font);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
@media (min-width: 480px) {
  .send-input {
    margin-bottom: 20px;
    padding-left: 29px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 62px;
    width: 100%;
  }
}
@media (min-width: 480px) and (min-width: 768px) {
  .send-input {
    width: 450px;
  }
}
@media (min-width: 480px) and (min-width: 1200px) {
  .send-input {
    width: 358px;
    height: 50px;
    margin-bottom: 0;
    padding-left: 16px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-right: 12px;
  }
}

.send-button {
  padding-right: 62px;
  position: relative;
}

.send-svg {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 28px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms linear, visibility 250ms linear;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  min-height: 581px;
  background: var(--primary-background-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.close {
  position: absolute;
  width: 30px;
  height: 30px;
  color: var(--header-logo-text);
  background-color: var(--primary-background-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  right: 8px;
  top: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modul-svg {
  fill: var(--header-logo-text);
}

.modul-form {
  padding: 40px;
}

.modul-field {
  margin-bottom: 10px;
}

.modul-lebel {
  font-family: var(--primary-font);
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--primary-text-color);
  margin-bottom: 4px;
  display: block;
}

.modul-wrap {
  position: relative;
}

.input-ikon {
  position: absolute;
  fill: var(--title-text-color);
  left: 12px;
  transform: translateY(-50%);
  top: 50%;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modul-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  font-family: var(--primary-font);
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  outline: none;
  color: var(--primary-text-color);
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modul-input:focus, .modul-input:hover {
  border-color: var(--accent-text-color);
}
.modul-input:focus + .input-ikon, .modul-input:hover + .input-ikon {
  fill: var(--accent-text-color);
}

.modul-title {
  font-family: var(--primary-font);
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  margin-top: 0;
  margin-bottom: 12px;
}

.modul-text {
  width: 100%;
  height: 120px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  outline: none;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modul-text::placeholder {
  color: rgba(117, 117, 117, 0.5);
}
.modul-text:focus, .modul-text:hover {
  border-color: var(--accent-text-color);
}

.modul-check {
  margin-bottom: 30px;
  padding-left: 12px;
}

.check-text {
  display: flex;
  align-items: center;
  position: relative;
}

.check-text span {
  width: 16px;
  height: 15px;
  border: 2px solid var(--title-text-color);
  border-radius: 2px;
  margin-right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.check-icon {
  fill: transparent;
}

.input-check:focus + .check-text span, .input-check:hover + .check-text span {
  border-color: var(--accent-color);
}
.input-check:checked + .check-text span {
  background-color: var(--accent-text-color);
  border: transparent;
}
.input-check:checked + .check-text svg {
  fill: var(--primary-background-color);
}

.privacy-text {
  font-family: var(--primary-font);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

.privacy-text a {
  color: var(--accent-text-color);
}

.modul-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}/*# sourceMappingURL=main.css.map */