.hero {
    background-color: var(--footer-hero-background-color);
    text-align: center;
    letter-spacing: 0.06em;

    padding-top: 200px;
    padding-bottom: 200px;

    height: 600px;
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../images/hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}


.hero__title {
    color: var(--secondary-text-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 0.06em;

    max-width: 696px;
    margin: 0 auto 30px;

}