:root {
    --primary-text-color: #757575;
    --secondary-text-color: #FFFFFF;
    --title-text-color: #212121;
    --accent-text-color: #2196F3;
    --primary-background-color: #FFFFFF;
    --secondary-background-color: #F5F4FA;
    --footer-hero-background-color: #2F303A;
    --header-logo-text: #000000;
    --hero-button-background-color: #188CE8;
    --footer-address-text: rgba(255, 255, 255, 0.6);
    --primary-icon-color: #AFB1B8;
    --fon-color: rgba(47, 48, 58, 0.8);
    --bgc-hover-portfolio: rgba(33, 150, 243, 0.9);

    --primary-font: Roboto, sans-serif;
    --secondary-font: Raleway, sans-serif;
}

/* палитра 
#757575 основной цвет текста
#212121 вторичный цвет текста
#FFFFFF текст героя и при выделении и цвет фона
#2196F3 hover
rgba(255, 255, 255, 0.6) текст номера телефона и почты в футере
#2F303A фон героя и футера
#F5F4FA фон наша команда
 */
