body {
    color: var(--primary-text-color);
    background-color: var(--primary-background-color);

    font-family: var(--primary-font);
    letter-spacing: 0.03em;
}

.section {

    // padding-top: 94px;
    // padding-bottom: 94px;
        padding-top: 60px;
        padding-bottom: 60px;
    @media (min-width:1200px) {
        padding-top: 94px;
        padding-bottom: 94px;
        }
}

.container {
    // width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
    width: 100%;

    @media (min-width:480px) {
        max-width:480px;
        // width: 480px;
    }

    @media (min-width:768px) {
        max-width:768px;
        // width: 768px;
    }

    @media (min-width:1200px) {
        max-width: 1200px;
        // width: 1200px;
    }
}

/* .container-hero{
    width: 1600px;
    margin-left: auto;
    margin-Right: auto;
} */




.section .text {
    color: var(--primary-text-color);
}

.section-title {
    color: var(--title-text-color);
    margin-top: 0;
}

@mixin flex-basis($quantity) {
    flex-basis: calc((100% - #{$quantity - 1} * 30px) /#{$quantity});
}